# Vaniloom 邮件服务器配置
EMAIL_HOST=smtp.qcloudmail.com
EMAIL_PORT=465
EMAIL_SECURE=true
EMAIL_FROM=noreply@mail.vaniloom.com
EMAIL_PASS=VanilooM0617

# 发送邮件开关 (development 模式下可设为 false 使用模拟发送)
EMAIL_ENABLED=true

# Vaniloom 平台地址
VANILOOM_URL=https://vaniloom.com 